structlog
pandas
numpy
typing
isort
black
torch
einops
tqdm
bitsandbytes
transformers 
peft 
accelerate 
datasets 
trl 
torch 
# flash_attn
absl-py 
nltk 
rouge_score
jaxtyping
openai
paramiko
longppl