structlog
pandas
numpy
typing
isort
black
torch
einops
tqdm
bitsandbytes
transformers
peft
accelerate
datasets
trl
# flash_attn
absl-py
nltk
rouge_score
jaxtyping
openai
paramiko
longppl
matplotlib
seaborn
scipy
scikit-learn
statsmodels
jupyter
nbconvert
pyyaml
requests